/* GOOGLE FOONTS */
/* VOLKHOV  */
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* POPPINS  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* root are or body */
body{
     margin: 0;
     padding: 0;
}
h1{
     font-family: 'Volkhov', serif;
     font-weight: bolder;
}


/* HEADER SECTIONS STYLES */
header {
     background: url("../images/jadoo-logo/flying-bg-top.png");
     background-repeat: no-repeat;
     background-position: right top;
}


/*-----------------
     MAJOR TRAVEL
------------------*/
/* major div */
.left-col.col {
     position: relative;
     top: 107px;
 }
/* left row */
h1.m-title {
     width: 372px;
     font-size: 53px;
     color: #181E48;
}

button.btn-warning {
     width: 166px;
     height: 58px;
     border-radius: 12px;
     border: none;
     outline: none;
     color: white;
     font-size: 16px;
     font-weight: 500;
 }

 span.play-demo {
     width: 165px;
     height: 52px;
     color: #686D77;
     margin-left: 44px;
     font-size: 16px;
 }

span.desti {
     color: #DF6951;
     font-family: 'Poppins', sans-serif;
     font-weight: 700;
 }
 
 .left-col.col p {
     color: #5E6282;
     font-size: 14px;
     font-weight: 500;
     width: 400px;
 }
/* right row  */
.n1 {
     width: 250px;
     position: relative;
     top: 85px;
     left: -71px;
 }

.n2 {
     position: relative;
     top: -76px;
     left: -61px;
 }

 /*-----------------------
     SERVICES CATEGOIRIES 
 --------------------------*/
 .services-catagoreies{
     background: url(../images/jadoo-logo/cate-bg.png);
     background-repeat: no-repeat;
     background-position: right top;
 }

 .cata-item-card {
     width: 184px;
     text-align: center;
     padding: 10px;
     background-color: #fff;
     position: relative;
     left: 22px;
     bottom: 30px;
 }

 .cata-card-item-next{
      background: url(../images/jadoo-logo/Rectangle\ 157.png);
      background-repeat: no-repeat;
      background-position: left bottom;
 }

 .col.cata-card-item-next {
     width: 302px;
     height: 312.91px;
 }

 h6.cata-t {
     font-weight: 300;
     font-size: 20px;
     color: #1E1D4C;
     margin-bottom: 15px;
     margin-top: 29px;
 }
 
 p.cata-p {
     font-weight: 500;
     font-size: 16px;
     line-height: 26px;
     color: #5E6282;
 }

 .cata-spn{
     font-weight: 600;
     font-size: 18px;
     color: #5E6282;
     margin-top: 80px;
 }

.c-title{
     color: #181E48;
}
h1.c-title.text-center {
     margin-bottom: 108px;
 }
.cata-item-card.next-card {
     box-shadow: 0px 100px 80px rgb(0 0 0 / 2%), 0px 64.8148px 46.8519px rgb(0 0 0 / 2%), 0px 38.5185px 25.4815px rgb(0 0 0 / 1%), 0px 20px 13px rgb(0 0 0 / 1%), 0px 8.14815px 6.51852px rgb(0 0 0 / 1%), 0px 1.85185px 3.14815px rgb(0 0 0 / 0%);
     border-radius: 36px;
 }

 /*-------------------
    TOP DESTINATION 
 -------------------- */
 .top-destination{
     background: url("../images/destination/Decore-bg.png");
     background-repeat: no-repeat;
     background-position: right bottom;
 }
 .img-info {
    padding: 23px 16px;
    width: 316px;
    height: 142px;
    top: 328px;
    left: -2px;
    background: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
p.rm-t {
    font-weight: 500;
    font-size: 18px;
    color: #5E6282;
}

p.rating {
    color: #5E6282;
    font-weight: 600;
    font-size: 18px;
}
span.tip-spn {
    color: #5E6282;
    font-size: 15px;
    font-weight: 500;
    margin-left: 11px;
}

.destination-single-card.position-relative {
    width: 313px;
    height: 454px;

}
.img-info {
    padding: 23px 16px;
    width: 316px;
    height: 133px;
    top: 333px;
    left: -2px;
    background: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/*----------------
    TRIP NEXT
-------------------- */

section.container.trip-next {
    margin-top: 186px;
}
span.easy {
    color: #5E6282;
    font-size: 18px;
    font-weight: 700;
}

h1.h-title {
    color: #14183E;
    font-size: 50px;
    margin-bottom: 31px;
    margin-top: 15px;
}

span.c-title {
    color: #5E6282;
    font-weight: 700;
}

p.c-param {
    width: 327px;
    height: 40px;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
}

.card-img-frame {
    background: #f7f7f7;
    width: 370px;
    text-align: center;
    padding: 19px 22px;
    border-radius: 25px;
}

.cf-head {
    text-align: start;
}

h6.cf-h {
    color: #080809;
    font-size: 18px;
    font-weight: 700;
    margin: 26px 0px 13px 0px;
}

span.cf-date {
    color: #84829A;
    font-weight: 600;
}

span.cf-name {
    color: #84829A;
    font-size: 14px;
    font-weight: 600;
}

.card-img-frame {
    background: #f7f7f7;
    width: 370px;
    text-align: center;
    padding: 19px 22px;
    border-radius: 25px;
    box-shadow: 69px -48px 150px #dbeefa;
    margin-top: 76px;
}

.cf-head {
    text-align: start;
}

h6.cf-h {
    color: #080809;
    font-size: 18px;
    font-weight: 700;
    margin: 26px 0px 13px 0px;
}

span.cf-date {
    color: #84829A;
    font-weight: 600;
}

span.cf-name {
    color: #84829A;
    font-size: 14px;
    font-weight: 600;
}

.trip-icon.d-flex p {
    margin-right: 20px;
    margin-top: 24px;
    margin-bottom: 25px;
}

p.cf-footer-title {
    margin-left: 11px;
    color: #84829A;
    font-size: 16px;
    font-weight: 600;
    margin-right: 148px;
}

small {
    color: #84829A;
    font-size: 14px;
    font-weight: 600;
}

p.titlec-info {
    color: #080809;
    font-size: 18px;
    font-weight: 700;
}

p.cplt {
    color: #000;
    font-size: 13px;
    font-weight: 600;
    margin-top: -10px;
}

span.perc {
    color: #8A79DF;
    font-weight: 700;
}

hr {
    background: #1c04fc;
    padding: 2px;
}

.little-card {
    right: -194px;
    top: -200px;
    width: 263px;
    height: 129px;
    background: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 7px 9px lightgrey;
}


/*--------------
    ABOUT US 
---------------*/

section.container.about-us {
    margin-top: 160px;
}

.point-cls {
    margin-left: 20px;
    width: 15px;
    height: 15px;
    background: #110c5e;
    border-radius: 50px;
}

.point-cls.deff {
    background: #d1d1d1;
}

.about-card-frame {
    width: 514px;
}

.about-info {
    margin-left: 63px;
    margin-top: 10px;
}

p.ab-para {
    color: #5E6282;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

h6.f-head {
    color: #5E6282;
    font-weight: 700;
    font-size: 18px;
}

p.f-para {
    color: #5E6282;
    font-size: 14px;
    font-weight: 600;
}

/* SPONSOR BOX  */
.sponsor-box{
    margin-top: 80px;
    margin-bottom: 70px;
}

/*------------------
    INPUT BOX STYLES 
-------------------- */
.input-box{
   
    background: url("../images/inputbg/input-bg.png");
    background-repeat: no-repeat;
}

.tir {
    position: relative;
    right: -1082px;
    top: -27px;
}

h2.input-title {
    width: 859px;
    text-align: center;
    color: #5E6282;
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 74px;
}

input[type="email"] {
    padding-left: 30px;
    width: 421px;
    height: 68px;
    outline: none;
    border: none;
    background: #fff;
}



input[type="submit"] {
    width: 180px;
    height: 68px;
    margin-left: 20px;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
}

.input-box-info.d-flex.align-items-center.justify-content-center {
    margin-bottom: 50px;
}

/*-----------------------
    FOOTER AT THE BOTTOM 
--------------------------- */
footer.container.fotter-bottom {
    margin-top: 250px;
}

p.p-para {
    font-weight: 600;
    font-size: 13px;
    line-height: 124.5%;
    color: #5E6282;
    margin-top: 25px;
}



h6 {
    font-size: 20px;
    color: #000;
    font-weight: bolder;
}

.col p {
    font-weight: 500;
    font-size: 18px;
    line-height: 126.5%;
    color: #5E6282;
}

p.d-app {
    color: #5E6282;
    font-weight: 500;
    font-size: 20px;
    line-height: 124.5%;
    margin-top: 15px;
}

.bottom-f {
    margin-bottom: 100px;
    margin-top: 120px;
    font-weight: 500;
    font-size: 14px;
    color: #5E6282;
}